In [1]:
import pandas as pd
from statistical_test import Statistical_test
df = pd.read_csv('country_wise_latest.csv')
df.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

In [2]:
df.isna().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [3]:
df["death_rate"] = df["Deaths"] / df["Confirmed"]
df["recovery_rate"] = df["Recovered"] / df["Confirmed"]

In [4]:
df.groupby('WHO Region').describe()

/Users/pranavsrinivasvenkatesh/anaconda3/envs/streamlitenv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/pranavsrinivasvenkatesh/anaconda3/envs/streamlitenv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/pranavsrinivasvenkatesh/anaconda3/envs/streamlitenv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/pranavsrinivasvenkatesh/anaconda3/envs/streamlitenv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

                      Confirmed                                                \
                          count           mean            std    min      25%
WHO Region
Africa                     48.0   15066.812500   65087.434387   10.0   910.00
Americas                   35.0  252551.028571  817100.096342   17.0   265.00
Eastern Mediterranean      22.0   67761.090909   93399.654809  674.0  3367.50
Europe                     56.0   58920.053571  127226.689411   12.0  2157.50
South-East Asia            10.0  183529.700000  461327.177069   24.0   963.75
Western Pacific            16.0   18276.750000   29427.554873   20.0   204.75

                                                    Deaths               ...  \
                           50%       75%        max  count         mean  ...
WHO Region                                                               ...
Africa                  2129.5   7088.50   452529.0   48.0   254.645833  ...
Americas                7340.0  76171.00  4290259.0   35.0  9792.342857  ...
Eastern Mediterranean  28575.0  88626.00   293606.0   22.0  1742.681818  ...
Europe                 12191.0  51077.50   816680.0   56.0  3770.428571  ...
South-East Asia         3333.0  79915.25  1480073.0   10.0  4134.900000  ...
Western Pacific         1009.5  19262.75    86783.0   16.0   515.562500  ...

                      death_rate           recovery_rate                      \
                             75%       max         count      mean       std
WHO Region
Africa                  0.027532  0.100000          48.0  0.570145  0.255130
Americas                0.038027  0.111310          35.0  0.622918  0.253679
Eastern Mediterranean   0.038446  0.285630          22.0  0.665927  0.268586
Europe                  0.047856  0.151948          56.0  0.686348  0.268513
South-East Asia         0.017480  0.048234          10.0  0.667037  0.264769
Western Pacific         0.021161  0.053651          16.0  0.768042  0.239210


                            min       25%       50%       75%       max
WHO Region
Africa                 0.000000  0.398096  0.631457  0.770005  0.965116
Americas               0.000000  0.468043  0.638742  0.814114  1.000000
Eastern Mediterranean  0.000000  0.485245  0.766284  0.876298  0.983791
Europe                 0.000000  0.551606  0.760172  0.897288  1.000000
South-East Asia        0.000000  0.595642  0.744740  0.814752  0.943585
Western Pacific        0.177419  0.662611  0.872822  0.950595  0.978723

[6 rows x 120 columns]

### Two Sample T-Test
#### A two-sample t-test compares the means of two independent groups to determine if there is a statistically significant difference between them.

#### H0: The average Deaths / 100 Cases in two different regions considered is equal
#### H1: The average Deaths / 100 Cases in two different regions considered is not equal
#### Assuming alpha = 0.05

In [5]:
st = Statistical_test()
test_stat, p_val = st.two_sample_ttest(df, 'Europe', 'Africa')

In [6]:
st.print_values()

Test-Statistics: 3.003095168545088, P-Value: 0.003361690559370243

In [7]:
st.hypothesis_test()

'Reject the Null Hypothesis'

### Interested whether a given WHO sample's mean is greater than the entire dataset
#### One Sample One Tailed T -Test
#### alpha = 0.05
#### H0 = The mean of sample < Mean of the whole 
#### H1 = The mean of sample > Mean of whole

In [8]:
st.one_sample_ttest(df, "Recovered / 100 Cases", 'Western Pacific', 'less')

Global mean: 64.82

(2.003978495362718, 0.9682622663102061)

In [9]:
st.hypothesis_test()

'Accept the Null Hypothesis'

### Proportinality Z-test
#### “Is the percentage of high-recovery countries significantly different between Europe and Africa?”
#### Let proportion be greater than80 to be considered as high-recovery

In [10]:
t, p = st.z_test_proportions(df, 'Europe', 'Africa', 80 )
    
print(t, p)
print(st.hypothesis_test())

2.735172800002977 0.006234753664203764
Reject the Null Hypothesis

### Chi-Square Test Hypotheses
#### Testing whether the binary outcome (e.g., High Recovery) is associated with a categorical group (e.g., WHO Region):
#### H0 = The proportion of countries meeting the binary condition is the same across all groups.
#### H1 = The proportion of countries that meet the condition differs significantly across the groups.

In [11]:
t, p, dof, exp = st.chi_square_test_binary(df, 'WHO Region', 'Recovered / 100 Cases', '>', 70)
st.print_values()

Test-Statistics: 11.79703845881301, P-Value: 0.03767718031846574

In [12]:
st.hypothesis_test()

'Reject the Null Hypothesis'